@import './variables';

body {
  margin: 5;
  font-family: $fuente-principal;
  background-color: $color-fondo;
  color: $color-texto;
}

.logo{
  max-width: 300px;
  max-height: 300px;
}

a {
  color: $color-primario;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1, h2, h3 {
  color: $color-primario;
}
