// Variables de color
$color-primario: #004080;
$color-secundario: #ff6905;
$color-fondo: #078003;
$color-texto: #333;
$color-blanco: #ffffff;
$color-acento: #e60000;

// Tipografía
$fuente-principal: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
